/* Default styles for the body element */

:root {
    --full-dark: #1b263b;
    --half-dark: #415a77;
    --full-light: #e0e1dd;
    --half-light: #778da9;

    --background-dark: var(--full-dark);
    --text-dark: var(--full-light);
    --background-light: var(--full-light);
    --text-light: var(--full-dark);
    --hover-background-dark: var(--half-dark);
    --hover-background-light: var(--half-light);
    --hover-text-dark: var(--half-light);
    --hover-text-light: var(--half-dark);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

#light {
    background-color: var(--background-light);
    color: var(--text-light);
}

#dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.App {
    min-height: 100vh;
    transition: color 0.15s ease-in-out;
    overflow: auto;
}

.Home {
    padding-left: 15px;
    padding-right: 15px;
}

.Projects {
    padding-left: 15px;
    padding-right: 15px;
}

.Contact {
    padding-left: 15px;
    padding-right: 15px;
}

#light a {
    color: var(--hover-text-dark);
}

#dark a {
    color: var(--hover-text-dark);
}